* {
   background-color: rgb(158, 158, 179);
    font-size: 35px;
    font-family: 'Roboto Mono', monospace;
    color: whitesmoke;
    box-sizing: border-box;
    /* padding: 40px 40px 20px 20px; */
 }
#mainTitle {  
    font-family: 'Mansalva', cursive;
    color: white;
}
h6{
  font-size: 20px;
  font-family: 'Mansalva', cursive;
}
img {
   width: 30%
 }

.center {
  text-align: center;
}
.large {
  font-size: 100px;
}
.small {
  font-size: 30px;
}

#top {
  font-size: 20px;
  font-family: 'Roboto Mono', monospace;
    color: whitesmoke;
}
    
#menu ol{
  list-style: none;
}
#menu li{
  display: inline;
}
.medium {
  font-size: 50px;
}
 body, html {
   height: 100%;
   margin: 0;
   font-family: 'Roboto Mono', monospace;
 }
 
.button{
  background-color: wheat;
   /* border: none;
   color: white; */
   padding: 15px 32px;
   margin: 4px 2px;


}
button {
  width: 200px;
  border: none;
}



